@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.hide{display:none;}
div{vertical-align: top;}
header img{
    width:100%;
}
header{
    max-width:800px;
    margin:40px auto;
 
    position:relative;
    clear:both;
    height:540px;
}
header:after{
    clear:both;
}
.stamp1{
    width:400px;
    position:absolute;
    top: 00px;
    left: 50px;
}
.stamp2{
    width:400px;
    position:absolute;
    top: 129px;
    left: 158px;
}
.stamp3{
    width:400px;
    position:absolute;
    top: 38px;
    right: 50px;
}
header h1{
    position:absolute;
    top: 233px;
    left: 185px;
    width:200px;
    font-family:'Open Sans',sans-serif;
    color: rgb(49, 96, 143);
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}
header h2{
    position:absolute;
    top: 390px;
    left: 185px;
    width:200px;
    font-family:'Open Sans',sans-serif;
    color: rgb(49, 96, 143);
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}
